// VARIABLES

$black:#000000;
$purple:#800080;
$white:#ffffff;
$limegreen:#45e040;
$orangered:#ff4500;
$blue:#0000ff;
$skyblue:#85cef8;
$darkgrey: #222b2a;

// GENERAL STYLES
body{
    background:$skyblue;
}
fieldset{
    border: 0;
}
h1,
p,
.answer{
    font-family: 'Lobster', cursive;
    text-align: center;
}
h1,
label,
.error{
    text-transform: uppercase;
}
